<appSettings>

  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="vs:EnableBrowserLink" value="false" />


  

    <add key="connectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=Aula_MVC;Integrated Security=false;User ID=sa;Password=passw0rd;"/>

    <add key="databaseType" value="MsSql2012" />
    <add key="mappingAssemblies" value="Aula_MVC.Repository" />


  


</appSettings>
