@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rio de Janeiro<br />
    Rio de Janeiro<br />
    <abbr title="Phone">Tel:</abbr>
    (21) 2222-2222
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:suporte@example.com">suporte@example.com</a><br />
    
</address>